<html>
  <head>
    <link rel="stylesheet" href="static/css/jquery.dataTables.css" />
    <script src="static/js/jquery.js"></script>
    <script src="static/js/click_stats.js"></script>
    <script src="static/js/jquery.dataTables.js"></script>
  </head>
  <body>
    <h2>Download Statistics</h2>
    <table id="clickTable">
        <thead>
            <tr>
                <th>ExpoCode</th>
                <th>FileType</th>
                <th>Downloads</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
  </body>
</html>
